{% extends "_layouts/default.njk" %}

{% block body %}
  <div class="content">
    <strong>Olá, {{ user.name }}</strong>
    <p>Inicie um agendamento escolhendo um profissional abaixo.</p>
    <ul class="providers">
      {% for provider in providers %}
        {% if user.id != provider.id %}
          <li class="provider">
            <div>
              <img src="/files/{{ provider.avatar }}" />
              <strong>{{ provider.name }}</strong>
            </div>
            <a href="/app/appointments/new/{{ provider.id }}">+</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>

    {% if user.provider %}
    <a class="agendamento" href="/app/appointments">Meus agendamentos</a>
    <br>
    {% endif %}
    <a class="logout" href="/app/logout">Sair</a>

  </div>
{% endblock %}
